<div class="columns is-centered mt-5">
  <div class="column is-three-quarters-mobile is-half-desktop">
    <h1 class="subtitle">Editing Position</h1>

    <%= render 'form', position: @position %>
    <div class="mt-4 ml-2">
      <%= link_to 'Show', @position %> |
      <%= link_to 'Back', positions_path %>
    </div>
  </div>
</div>
