<div class="columns is-centered mt-5">
  <div class="column is-one-third">
    <h1 class="subtitle">New Position</h1>

    <%= render 'form', position: @position %>
    <div class="mt-4 ml-2">
      <%= link_to 'Back', positions_path %>
    </div>
  </div>
</div>