<div class="columns is-centered mt-5">
  <div class="column is-one-third">
    <h1 class="subtitle">New Project Type</h1>

    <%= render 'form', project_type: @project_type %>
    <div class="mt-4 ml-2">
      <%= link_to 'Back', project_types_path %>
    </div>
  </div>
</div>
