<div class='nested-fields'>
  <div class="select mt-2">
   <%= f.collection_select(:member_id, Member.all, :id, :name)%>
  </div>
  <%= link_to_remove_association "Remove member", f , class:"m-4" %>
</div>