<div class="columns is-centered mt-5">
  <div class="column is-one-third">
   <h2 class="subtitle">Editing Project</h2>

    <%= render 'form', project: @project %>
    <div class="mt-4 ml-2">
      <%= link_to 'Show', @project %> |
      <%= link_to 'Back', projects_path %>
    </div>
  </div>
</div>
