<div class="columns is-centered mt-5">
  <div class="column is-one-third">
    <h2 class="subtitle">New project</h2>

    <%= render 'form', project: @project %>

    <%= link_to 'Back', projects_path %>
  </div>
</div>
