@import 'bulma/bulma';
@import "projects";
@import "members";
@import "positions";
@import "dashboard";

$body-color: #182039;
$titles-color: #ffffff;
$nav-color: #161D34;
$links-color: #8B8E9A;

body{
    background-color: transparent!important;
}

html{
    background: rgb(24,32,57);
    background: linear-gradient(180deg, rgba(24,32,57,1) 0%, rgba(15,21,40,1) 100%);
    height: 100%;    
}

h1{
    color: $titles-color !important;
}

.home .box{
    padding: 0px!important;
    background-color: #1E2745 !important;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.home .box .column{
    padding: 0px!important;
}

.home .column{
  display: flex !important;
  justify-content: center;
}

.home .columns .titulo{
    display: block;
  }

.home .box a{
    color: #ffffff !important;
    padding: 20px
}

.box .left-corner a{
    border-radius: 6px 0px 0px 6px !important
}

.box .right-corner a{
    border-radius: 0px 6px 6px 0px !important
}

.box a:hover{
    color: #ffffff !important;
    background-color: #0676ED!important;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4)!important;
    transition-duration: 0.2s;
}

.box .column:hover{
    border-radius: 6px;
}

span{
    color:#5B647C !important;
}

/* ================ Navbar ================ */

.navbar-brand img:hover{
    max-height: unset !important;
    width: 60px;
    height: 60px;
    filter: brightness(2);
    transition-duration: 0.2s;
}

.navbar-brand img{
    max-height: unset !important;
    width: 60px;
    height: 60px;
}

.tipodeprojeto-item{
    width: 171px;
}

nav svg{
    margin-right: 5%;
}

nav .button{
    background-color: #0676ED !important;
    color: #ffffff!important;
}

nav .button:hover{
    background-color: #ffffff !important;
    color: #0676ED!important;
    transition-duration: 0.2s;
}

nav a{
    color: $links-color !important;
}

nav{
    background-color: #151A30 !important;
    height: 80px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.4) !important
}

.navbar-menu a:hover{
    background-color: #222B45 !important;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2)!important;
    color: #ffffff!important;
    transition-duration: 0.2s;
}

.dashboard ul .is-active a{
    color: #0676ED!important;
    border-color: #0676ED !important;
    box-shadow: inset 0 -10px 22px -22px #0676ED;
}

.dashboard ul .is-active a:hover{
    color: #0676ED!important;
    border-color: #0676ED !important;
    box-shadow: inset 0 -10px 22px -22px #0676ED
}

.dashboard ul a {
    color: $links-color !important;
    border-color: $links-color !important;
}

.dashboard li a:hover{
    color: #ffffff !important;
    border-color: #ffffff !important;
    box-shadow: inset 0 -10px 20px -22px #ffffff;
    transition-duration: 0.2s;
}

.dashboard ul {
    border-color: $links-color !important;
}

.dashboard .card{
    background-color: #1E2745!important;
}

.dashboard .is-ancestor .is-4 .box{
    background-color: #1E2745!important;
}

.dashboard .title{
    color: white
}

.dashboard .subtitle{
    color: $links-color
}

.dashboard .content{
    color: $links-color
}

.dashboard strong{
    color: white
}

.dashboard hr{
    background-color: $links-color
}

.dashboard .label{
    color: white
}

.dashboard input[type=submit]{
    background-color: #0676ED !important;
    color: #ffffff!important;
    border-style: none
}

.dashboard input[type=submit]:hover{
    background-color: #3f9afc !important;
    color: #ffffff!important;
    border-style: none
}

.dashboard .tabs{
    border-radius: 6px 6px 0px 0px;
    background-color: $nav-color;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
}

nav .active{
    background-color: transparent;
    color: #0676ED !important;
}

nav .active:hover{
    background-color: transparent!important;
    color: #0676ED!important;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0)!important;
}

table thead {
    background-color:#0676ED !important;
}

table thead span{
    color: white!important
}

table thead :hover{
    background-color:#0676ED !important;
}

table thead :hover > th{
    background-color:#0676ED !important;
}

table{
    background-color: #151A30 !important;
    overflow:hidden;
    border-collapse:separate;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

table tr:hover{
    background-color: #181e38 !important;
}

table th{
    border: 1px solid #0c6cd3!important;
    color:#ffffff !important;
    border-top-style: none !important;
}

table th.left-corner{
    border-left-style: none !important;
}

table th.right-corner{
    border-right-style: none !important;
}

table td.left-corner{
    border-left-width: 0px ;
    color:#ffffff !important
}

table td.right-corner{
    border-right-width: 0px !important;
    width: 8%!important;
    position: relative !important;
    border-left-style: none !important;
}

.crud-options{
    position: absolute !important;
    margin-top: -8px;
    margin-left: -12px;
    left: -90px !important;
    overflow: visible!important;
    width: 110px;
    max-width: unset!important;
    background-color: #1E2745!important;
    z-index: 50;
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.2)) !important;

}

.crud-options footer{
    width: 110px!important;
}

.crud-hover{
    display: none!important;
    opacity: 0;
    transition-duration: 2s;
}

table td.right-corner:hover > .crud-hover{
    opacity: 1;
    transition-duration: 2s;
    display: block!important;   
    animation-name: CrudAnimation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    position:absolute
}

@keyframes CrudAnimation{
    0%{
      opacity: 0;
      left:-100%;
      display: block
    }
    40%{
        left: 10px;
        opacity: 1;
      }
    100%{
      opacity: 1;
      left: 0px
    }
  } 

.crud-delete:hover ~ .crud-options-triangle{
    border-left-color: #F73333!important;
}

table th a{
    color:#ffffff !important
}
/*
table th .desc{
    color:#ffffff !important
}

table th .asc{
    color:#ffffff !important
}
*/
table td{
    border: 1px solid #11162b!important;
    color:$links-color;
    border-bottom-style: none !important;
}

table tr:hover > td {
    border-color: #131a31!important;
}

table tr{
    background-color: transparent !important;
}

.devise .card{
    background-color: #1E2745 !important;
}

.devise h2{
    color: white;
    font-size: 40px
}

.devise label{
    color: #4d6985;
    margin-bottom: 0px!important;
}

.devise .button{
    background-color: #0676ED !important;
    color: #ffffff!important;
    margin-top: 10px;
}

.devise .button:hover{
    background-color: #429af8 !important;
    color: #ffffff!important;
    transition-duration: 0.2s;
}

.devise .remember-me{
    color: $links-color!important;
}

.devise input{
    background-color: $body-color!important;
    border-color: #283153 !important;
    border-radius: 5px;
    color: white;
}

.devise .text{
    padding-top: 10px;
    color: #58799b
}

.minimum_password_length{
    color:#2e4d6d
}

@media(max-width: 767px) { 
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }

    .devise .button{
        margin-top: 0px;
    }

    .devise .forgot-password{
        margin-bottom: -18px;
    }    
  }

.devise .subtitle p{
    padding-bottom: 10px;
    margin-top: -10px;
    color: #5d83aa!important;
  }

.devise p{
    color: #58799b;
    font-size: 18px;
}

.devise .remember-me {
    color: #58799b !important;
  }

.remember-me {
    position: relative;
    color: #ffffff !important;
  }
  
  .remember-me label {
    background-color: $body-color;
    border: 1px solid #283153;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 16px;
    font-size: 0px;
  }
  
  .remember-me label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 1px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .remember-me input[type="checkbox"] {
    visibility: hidden;
  }
  
  .remember-me input[type="checkbox"]:checked + label {
    background-color: #0676ED;
    border-color: #0676ED;
  }
  
  .remember-me input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .notification{
    background: rgb(36,171,219) !important;
background: linear-gradient(90deg, rgba(36,171,219,1) 0%, rgba(52,201,166,1) 59%)!important;
    display: inline-block;
    color: white;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2)!important;
    margin-top: 20px;
    animation-name: myAnimation;
    animation-duration: 5000ms;
    animation-fill-mode: forwards;
    position: absolute !important;
  }

  @keyframes myAnimation{
    0%{
      opacity: 1;
      left:-100%
    }
    20%{
      opacity: 1;
      left: 20px
    }
    30%{
        opacity: 1;
        left: 20px
      }
    100%{
      display: none;
      opacity: 0;
      left: 20px
    }
  } 

  tbody i{
      padding-right: 15px;
  }

  tbody a{
      color: #0676ED!important;
      padding-left: 5px;
      padding-right: 5px;
      width: 100%
  }

  tbody .crud-edit{
    color: #0676ED!important;
    padding-left: 10px;
    padding-right: 10px;
}

tbody .crud-delete{
    color: #F73333!important;
}

tbody .crud-delete:hover{
    border-radius: 0px 3px 3px 0px;  
}

tbody .crud-options-triangle{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #1E2745;
    position: absolute!important;
    left: 110px;
    top: 25%
}

  tbody a .crud-text{
    font-size: 11px!important;
    color: #6f7cac!important;
    margin-top:-2px;
}

tbody a:hover > .crud-text{
    color: #ffffff!important
}

tbody a svg{
    color: !important
}

tbody a.crud-delete:hover{
    background-color: #F73333!important;
}

  tbody footer{
    border-top-width: 0px!important;
}

  tbody a:hover{
    color: #ffffff!important;
    background-color: #0676ED!important;
    border-radius: 3px 0px 0px 3px;
}

button.is-success a{
    color: #ffffff !important;
}

button.is-success{
    background-color: #0676ED!important;
}

button.is-success:hover > a{
    color: #0676ED!important;
}

button.is-success:hover{
    background-color: #ffffff!important;
}

.table-container{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
    border-radius: 8px !important;
}

tbody tr td:not(.right-corner){
    cursor:pointer;
}

.disabled_selector{
    border-color: #b7b7b7 !important;
}