<div class='nested-fields'>
  <div class="select mt-2">
   <%= f.collection_select(:position_id, @positions, :id, :name) %>
  </div>
  <%= link_to_remove_association "remove position", f , class:"m-4" %>
</div>